.env
node_modules/
.DS_Store
.zip
.rar
~
.lock
.swp
.out
.idea
.vagrant/
.sass-cache/
tmp/
temp/
cache/
simple-backup/
build/*
public/*
!public/*.html
!public/.htaccess
vendor/*
!vendor/autoload.php
wp-content/uploads/*
wp-content/plugins/*
wp-config.php