/////     GLOBAL DEFAULTS     /////

$ratio : 1.5;
$base-font-size : 1rem;
$base-line-height :$base-font-size * $ratio;


/////     GRID     /////

// responsive breakpoints

$breakpoints : (
	mobile 4,
	mobile-wide 6,
	tablet 8,
	desktop 12,
	desktop-wide 16,
	desktop-hd 18
);

// Column Measurements
$grid-column-width 		: 5rem;
$grid-gutter			: $base-line-height;
$grid-padding			: $base-line-height;
$grid-type				: magic; // fluid or magic

/////     Fonts     /////
$primary-font			: serif;
$secondary-font			: sans-serif;

/////     Colour     /////
$color-text 			: #000000;
$color-background 		: #FFFFFF;
$color-link 			: #0000FF;