@import 'main';

/////	 STYLEGUIDE SPECIFIC STYLING	 /////

.sg_heading {
	border-bottom: 1px solid silver;
	margin: 4rem 0 2rem;
	padding-bottom: 0.25rem;

	&:first-of-type {
		margin-top: 0;
	}
}

.sg_annotation {
	background-color: #F5F5F5;
	border: 1px dotted silver;
	font-family: monospace;
	font-size: 0.75rem;
	margin: 1rem 0;
	padding: 0.5rem 1rem;
	text-align: center;
}

ul#sg_palette {
	list-style-type: none;
	margin: 0;
	padding: 0;

	@include breakpoint(desktop) {
		display: flex;
	}

	li {
		border: 1px solid silver;
		margin: 0 0.5rem 1rem;
		padding: 0.5rem;

		@include breakpoint(tablet) {
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 1rem);
		}
	
		@include breakpoint(desktop) {
			flex-grow: 1;
			width: auto;
	
			&:first-of-type {
			margin-left: 0;
			}
			&:last-of-type {
			margin-right: 0;
			}
		}
	}
	
	.sg_palette_swatch {
		height: 4rem;
		margin-bottom: 0.5rem;
		width: 100%;
	}
	
	.sg_palette_name,
	.sg_palette_value {
		font-size: 0.75rem;
		line-height: 1.7;
	}
}

.sg_icons {
	display: flex;
	text-align: center;

	i {
	flex-grow: 1;
	}
}